.App {
  width: 600px;
  padding: 30px;
  margin: 5rem auto 0;
  background: rgba(255, 255, 255, .3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

h1, .todo__no-todo {
  text-align: center;
}

.app__title {
  margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 991px) {
  .App {
    width: auto;
    padding: 10px;
  }
}
